<h2>Find your sunrise and sunset times<span class="highlight">*</span></h2>
<!-- Form with light validation  -->
<div class="container coord-form">
    <form (ngSubmit)="onSubmit(model.latitude, model.longitude); coordForm.reset()" #coordForm="ngForm">
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" required [(ngModel)]="model.latitude" name="latitude" #latitude="ngModel">
        <div [hidden]="latitude.valid || latitude.pristine" class="alert alert-danger">
          Latitude is required
        </div>
      </div>
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="text" class="form-control" id="longitude" required [(ngModel)]="model.longitude" name="longitude" #longitude="ngModel">
        <div [hidden]="longitude.valid || longitude.pristine" class="alert alert-danger">
          Longitude is required
        </div>
      </div>
      <button type="submit" class="bttn " [disabled]="!coordForm.form.valid" >Submit</button>
    </form>
</div>
<!-- Conditional to display before the user has entered a location -->
<div *ngIf="sunrise; then tmpl1 else tmpl2"></div>
<ng-template #tmpl1>
  <p>Sunrise: {{sunrise}}</p>
  <p>Sunset: {{sunset}}</p>
</ng-template>
<ng-template #tmpl2>
  <p>Enter a lat/long to find your times!</p>
</ng-template>
<p class="tiny"><span class="highlight">*</span> Calculated using <a href="https://sunrise-sunset.org">sunrise-sunset.org</a></p>

