table {
  border: 1px grey solid;
  margin: 10px auto;
}
th {
  border-bottom: 2px black solid;
}
td {
  background-color: #ddd;
  color: #333;
}
.duration {
  text-align: center;
}
.bright {
  color: #eee;
}
/* Form Styles */
.coord-form {
  max-width: 50%;
}
.form-group {
  margin: 10px auto;
  max-width: 50%;
}
/* Form Validation */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}